/node_modules
/public/storage
/public/seo
/vendor
.idea
Homestead
.json
.yaml
.env
/bootstrap/cache
/storage
.project
.settings
.buildpath
.vscode
.gitigore
.phpstorm.meta
_ide_helper.php
composer.lock

php-beast.log
/nbproject
composer.lock